.nav {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 3px 0px rgba(99, 99, 99, 1);
}
.link {
  font-size: 20px;
  font-weight: 600;
}
.link:hover {
  text-decoration: underline;
}
.isActive {
  color: red;
}
